* {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-family: "Playfair Display", serif; */
    font-family: "Plus Jakarta Sans", sans-serif;
}


a {
    text-decoration: none;
}

:root {
    --button: #6D1600;
}

li {
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

/* Aqui estamos pegando a largura (Width) e calculando 100% da responsividade menos (-) os pixels (px) */
.container {
    width: calc(100% - 128px);
    margin: 0 auto;
    position: relative;
}

header ul {
    display: flex;
    gap: 32px;
    padding: 0px 24px;
}

@media (max-width: 600px) {
    header ul {
        flex-direction: column;
        gap: 16px;
    }

    .catalog img {
        width: 184px;
        height: 264px;
    }

    .esconder-no-mobile {
        display: none !important;
    }

    
}



/* .stats-section {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 24px 0px;
    align-items: center;
}

.wallet-search {
    display: flex;
    gap: 8px;
}

.swiperCatalog {
    width: 100%;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}



.swiperProdutos {
    width: 1006px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    display: block;
}

.swiper-slide {
    width: fit-content !important;
    display: flex;
    justify-content: center;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: var(--button);
    height: 16px !important;
    width: 16px !important;
    padding: 10px;
    border-radius: 99999999999999px 999999999999999px;
    color: #f5f3f3 !important;
    cursor: pointer;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 12px !important;
}

.hero h1 {
    font-family: "Playfair Display", serif;
    font-size: 64px;
}

.hero p {
    font-size: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 80px;
    align-items: center;
    size: 631px 348px;
    flex-direction: column;
    gap: 24px;
    text-align: center;
}

.parallax {
    background-image: url(https://th.bing.com/th/id/OIP.5fJ-cBJwDgCEWJrLdZtYSwHaNK?rs=1&pid=ImgDetMain);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero button {
    display: flex;
    cursor: pointer;
    background-color: var(--button);
    width: 363px;
    height: 82px;
    align-items: center;
    justify-content: center;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: white;
    gap: 16px;
    border-radius: 0px 32px;
}

button:active {
    transform: scale(.9);
}

button {
    transition: all .2s ease;
}

.catalog {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: start;
    margin: 0 auto;
    scroll-snap-type: x mandatory;
    max-width: 100%;
    scroll-padding: 64px;
}

.catalog img {
    width: 216px;
    height: 312px;
    object-fit: contain;
    scroll-snap-align: start;
}

.catalog img:first-child {
    margin-left: 64px;
}

.catalog img:last-child {
    margin-right: 64px;
}
.stats-section {
    display: flex;
    justify-content: space-around;
    padding: 20px 0; /* Espaçamento entre as seções e a linha */
    margin-top: 20px; /* Espaçamento acima da seção */
    position: relative; /* Para posicionar o pseudo-elemento */
  }
  
  .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px; /* Espaçamento entre as seções */
  }
  
  .stat-number {
    font-size: 36px;
    font-weight: bold;
  }
  
  .stat-description {
    font-size: 14px;
  }
  
  .stats-section::before {
    content: "";
    position: absolute;
    top: 10px; /* Ajuste a posição vertical da linha */
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc; /* Cor da linha */
    opacity: 0.5; /* Opacidade da linha */
    z-index: 1;
  }


.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.title h1 {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: #282A3A;
    opacity: 56%;
}

.title p {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: lighter;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.buttons-box {
    max-width: 100%;
    width: 600px;
    padding: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    border-radius: 40px;
    background-color: #eeeeee;
}

.buttons-box button {
    flex: 1 0 100px;
    cursor: pointer;
    border-radius: 40px;
    height: 61px;
}

.buttons-box p {
    opacity: 56%;
    font-size: 24px;
}

.buttons-box button:hover,
.buttons-box button.ativo {
    background-color: white;
}

.our-products {
    display: flex;
    gap: 80px;
    flex-direction: column;
    padding: 80px;
}

.card-wraper {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    overflow-y: auto;
}

.card-info {
    padding: 16px 24px;
    flex-direction: column;
    display: flex;
    gap: 16px;
}

.xique {
    display: flex;
    padding: 80px;
    gap: 80px;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.xique-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button);
    width: 280px;
    height: 82px;
    border-radius: 0px 32px;
    gap: 16px;
    font-size: 24px;
    color: #eeeeee;
    font-family: "Playfair Display", serif;
}

.lorem {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 0 1 500px;
    font-size: 20px;
    line-height: 1.1
}

.img-wraper {
    display: flex;
    gap: 24px;
    max-width: 100%;
    flex: 0 0 0;
}

.testimonial {
    padding: 80px;
    gap: 80px;
}

.wraper-review {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.blog {
    padding: 80px;
    gap: 80px;
}

.swiperBlog {
    /* width: 12px; */
    max-width: 100%;
    overflow: hidden;
    position: relative;
}


/* .swiperBlog .swiper-slide:first-child{
    padding-left: 50px;
}

.swiperBlog .swiper-slide:last-child{
    padding-right: 50px;
} */

.blog-card {
    padding: 16px;
    border-radius: 0px 96px 0 48px;
    border: 1px solid #00000066;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 16px;
}


.blog-card-image {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.blog-card-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.blog-card-info>* {
    display: flex;
    align-items: center;
    gap: 8px;
}

.blog-card-description {
    font-size: 24px;
    line-height: 33.6px;
    font-weight: 600;
}

.blog-card-links {
    display: flex;
    justify-content: end;
}

.blog-card-links a {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 16px;
    color: #282A3A;
    font-weight: 500;
}

.blog-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button);
    width: 280px;
    height: 82px;
    border-radius: 0px 32px;
    gap: 16px;
    font-size: 24px;
    color: #eeeeee;
    font-family: "Playfair Display", serif;
}

footer {
    display: flex;
    padding: 80px;
    gap: 80px;
    background-color: #282A3A;
    flex-wrap: wrap;

}

.ngopi {
    display: flex;
    font-size: 20px;
    gap: 32px;
    align-items: start;
    flex-direction: column;
    width: 382px;
    line-height: 32px;
    color: #eeeeee;
    flex: 1 1 auto;
}

.wraper-footer {
    display: flex;
    flex: 1 1 800px;
    line-height: 50px;
    flex-direction: column;
}

.juninho-pai {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
    flex-wrap: wrap;
}

.will {
    flex-direction: column;
    display: flex;
    flex: 1 1 200px;
    /* line-height: 32px; */
    gap: 4px 0px;
}

.will a {
    /* padding: 4px 0px; */
    font-size: 16px;
    color: white;
}

.will p {
    font-size: 28px;
    font-family: "Playfair Display", serif;
    color: white;

}

.redes {
    gap: 26px;

}

.juninho-pai2 {
    font-size: 28px;
    color: #eeeeee;
    padding: 20px 0px;
    font-family: "Playfair Display", serif;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}


.input-container {
    gap: 8px;
    flex: 1 1 0px;
    display: flex;
    max-width: 100%;
    align-items: center;
    padding: 16px;
    border-radius: 16px;
    background-color: rgb(62, 66, 70);
    flex-wrap: wrap;
}

.email-icon {
    display: flex;
}

input[type="email"] {
    flex: 999 1 0px;
    padding: 16px;
    border: none;
    background-color: transparent;
    color: #e5e5e5;
    outline: none;
    font-size: 20px;
    box-sizing: border-box;
}

.input-button {
    background-color: #6D1600;
    color: white;
    font-size: 16px;
    cursor: pointer;
    flex: 1 1 179px;
    height: 62px;
    border-radius: 8px;
    max-width: 100%;
}

.input-button:hover {
    background-color: #a83228;
}

.navbar-mobile{
    top: 0;
    left: 0;
}


.lorem-dialog{
    
}
